# ========================
# Безпека (SSH Ключі)
# ========================
id_rsa
id_rsa.pub

# ========================
# Terraform файли стану та кешу
# ========================
terraform.tfstate
terraform.tfstate.backup
terraform/.terraform/
terraform/.terraform.lock.hcl

# ========================
# Налаштування IDE
# ========================
.vscode/

# ========================
# Документація та нотатки
# ========================
Docs/
readme